<div class="toolbar" role="banner">
    <div style="width: 200px;">
      <span style="color: white;font-weight: 600; font-size: 17px;margin-left: 20px;">MEGA</span>
      <span style="color: rgb(211, 40, 40);font-style: oblique;margin-left: 3px;margin-top: 3px;">ZEK</span>
    </div>
    <div style="margin: 3px;margin-bottom: 10px;">
      <mat-tab-group  [backgroundColor]="whites">
        <mat-tab label="Trang chủ"></mat-tab>
        <mat-tab label="Tài liệu"></mat-tab>
        <mat-tab label="Liên hệ"></mat-tab>
        <mat-tab label="Tài khoản"></mat-tab>
      </mat-tab-group>
    </div>
    <div style="width: 200px;">
      <span style="color: white;font-weight: 600; font-size: 17px;"></span>
      <span style="color: rgb(211, 40, 40);font-style: oblique;margin-left: 3px;margin-top: 3px;"></span>
      <img
        width="40"
      />
    </div>
</div>
<div style="margin-top: 70px;display: flex;justify-content: center;">
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Shiba Inu</mat-card-title>
      <mat-card-subtitle>Dog Breed</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>
       
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>
  </mat-card>
</div>
